@charset "UTF-8";
@font-face {
    font-family: 'fonteTitulo';
    src: url("../fonts/Lemon-milk/LEMONMILK-Medium.otf");
}
.titulos{
    font-family: fonteTitulo;
    color: black;
    font-size: 25px;
}
#popupDescritiva{
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.7) 2px 2px;
    display: none;
    position: absolute;
    z-index: 100;
    height: 400px;
    width: 500px;
    top: 100px;
    text-align: center;
    right: 450px;
    left: 450px;
}
.bntPopAmo{
    margin-top: 50px;
}
.nomeVariavelInp{
   margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: none;
    border: solid 1px darkgray;
    border-radius: 10px;
}
.calculate{
    display: block;
    margin-top: 50px;
}
.dadosInp{
    box-shadow: none;
    border: solid 1px darkgray;
    border-radius: 10px;
}
#popupProbabilidadeEscolha{
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.7) 2px 2px;
    display: none;
    position: absolute;
    z-index: 100;
    height: 100px;
    width: 400px;
    text-align: center;
    top: 200px;
    right: 450px;
    left: 450px;
}
.botoesProb{
    display: block;
    margin-top: 20px;
}
#popupCorrelacao{
    background-color: white;
    border-radius: 20px;
    display: none;
    position: absolute;
    z-index: 100;
    height: 350px;
    width: 500px;
    top: 100px;
    text-align: center;
    right: 450px;
    left: 450px;
    box-shadow: rgba(0,0,0,0.7) 2px 2px;
}